#search-results {
    margin-top: 20px; /* Remove a flexibilidade aqui, pois o Bootstrap irá gerenciar o layout */
    padding: 10px;
    box-sizing: border-box;
}

#movie-container {
    margin-top: 20px; /* Remove a flexibilidade aqui, pois o Bootstrap irá gerenciar o layout */
    padding: 10px;
    box-sizing: border-box;
}

.movie-card {
    position: relative;
    display: flex; /* Mantém o card flexível */
    flex-direction: column; /* Organiza o conteúdo em coluna */
    border: 2px solid red;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
    height: 370px; /* Mantém a altura fixa */
    margin-bottom: 15px; /* Espaçamento inferior em vez de margens laterais */
}

.movie-card:hover {
    transform: scale(1.01);
}

.movie-card img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.movie-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    display: none; /* Oculta inicialmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movie-card:hover .movie-info {
    display: flex;
}

.synopsis, .rating { /* Corrigido 'synopses' para 'synopsis' */
    margin: 5px 0;
    font-size: 13px;
    line-height: 1.2;
}

/* Responsividade para 4 cards por linha */
@media (min-width: 992px) { /* Ajuste para telas maiores */
    .movie-card {
        flex: 1 1 calc(25% - 10px); /* Certifique-se de que não há margem que cause problemas */
    }
}

/* Ajuste para 2 cards por linha em telas menores */
@media (max-width: 767px) {
    .movie-card {
        flex: 1 1 calc(50% - 10px);
    }
}

/* Filmes por categoria */
