@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom right, rgba(30, 30, 30, 0.9), rgba(60, 60, 60, 0.9));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
}

#navbar {
    padding: 10px 0;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: background-color 0.3s;
}

.navbar-scrolled {
    background-color: #171717 !important;
}

.container-fluid {
    height: 50px;
}

.input {
    position: relative;
}

.input .bi {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    pointer-events: none;
    transition: opacity 0.3s;
    opacity: 0;
}

.input:focus-within .bi {
    opacity: 1;
}

#search-input {
    border: 2px solid #da00372b;
    border-radius: 8px;
    padding: 10px 20px;
    transition: border-color 0.3s;
    padding-right: 30px;
}

#search-input:focus {
    border-color: #DA0037;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
